/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
/*
The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );

.icon-home {
  @include retina-sprite($icon-home-group);
}
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
/*
The `retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in SCSS

@include retina-sprites($retina-groups);
*/
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

body {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }
  body .container {
    width: 100%; }
    body .container section {
      max-width: 1200px;
      margin: 0 auto; }
  body .mobile {
    display: none; }
    @media only screen and (max-width: 420px) {
      body .mobile {
        display: block; } }
  body section {
    width: 1200px;
    margin: 30px auto; }
    @media only screen and (max-width: 1200px) {
      body section {
        width: 768px; } }
    @media only screen and (max-width: 768px) {
      body section {
        max-width: 400px;
        width: 100%; } }
    body section .disclaimer {
      font: normal normal 300 12px/14px "HelveticaNeueW01-65Medi", Helvetica, Arial, sans-serif;
      width: calc(100% - 30px);
      margin: 0 15px;
      text-align: left;
      color: #4e4e50; }
      @media only screen and (max-width: 1200px) {
        body section .disclaimer {
          width: calc(100% - 20px);
          margin: 0 10px; } }
      @media only screen and (max-width: 768px) {
        body section .disclaimer {
          font-size: 11px;
          line-height: 13px;
          width: calc(100% - 20px);
          margin: 0 10px; } }

#marquee {
  background: #bab8b6;
  background: -moz-linear-gradient(-65deg, #bab8b6 0%, #e6e5e3 100%);
  background: -webkit-linear-gradient(-65deg, #bab8b6 0%, #e6e5e3 100%);
  background: linear-gradient(115deg, #bab8b6 0%, #e6e5e3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bab8b6', endColorstr='#e6e5e3',GradientType=1 );
  overflow: hidden; }
  #marquee section {
    position: relative;
    height: 430px;
    padding: 40px 0 0 0;
    overflow: hidden; }
    @media only screen and (max-width: 1200px) {
      #marquee section {
        width: 780px;
        height: 540px; } }
    @media only screen and (max-width: 768px) {
      #marquee section {
        width: 80%;
        height: 490px; } }
    @media only screen and (max-width: 640px) {
      #marquee section {
        padding: 25px 0 0 0;
        width: 100%;
        height: 460px; } }
    @media only screen and (max-width: 400px) {
      #marquee section {
        height: 400px; } }
    #marquee section .logo {
      background-image: url(../img/spritesheets/main.png);
      background-position: -760px 0px;
      width: 378px;
      height: 53px;
      margin: 0 0 0 50px; }
      @media only screen and (max-width: 768px) {
        #marquee section .logo {
          margin: 0; } }
      @media only screen and (max-width: 640px) {
        #marquee section .logo {
          background-image: url(../img/spritesheets/main.png);
          background-position: -760px -53px;
          width: 242px;
          height: 34px;
          margin: 0 0 0 20px; } }
    #marquee section h2 {
      font: normal normal 300 24px/22px "HelveticaNeueW01-55Roma", Helvetica, Arial, sans-serif;
      margin: 50px 0 0 50px; }
      @media only screen and (max-width: 768px) {
        #marquee section h2 {
          margin: 25px 0 0 0; } }
      @media only screen and (max-width: 640px) {
        #marquee section h2 {
          font: normal normal 300 12px/18px "HelveticaNeueW01-55Roma", Helvetica, Arial, sans-serif;
          text-align: left;
          margin-left: 20px; } }
    #marquee section h1 {
      font: normal normal 300 76px/69px "HelveticaNeueW01-75Bold", Helvetica, Arial, sans-serif;
      margin: 5px 0 15px 50px;
      width: 580px; }
      @media only screen and (max-width: 1200px) {
        #marquee section h1 {
          font: normal normal 300 48px/69px "HelveticaNeueW01-75Bold", Helvetica, Arial, sans-serif;
          margin: 0 0 15px 50px;
          width: 100%; } }
      @media only screen and (max-width: 768px) {
        #marquee section h1 {
          font: normal normal 300 38px/45px "HelveticaNeueW01-75Bold", Helvetica, Arial, sans-serif;
          margin: 0 0 15px 0; } }
      @media only screen and (max-width: 640px) {
        #marquee section h1 {
          font: normal normal 300 26px/25px "HelveticaNeueW01-75Bold", Helvetica, Arial, sans-serif;
          text-align: left;
          margin-left: 20px; } }
    #marquee section p {
      font: normal normal 300 16px/24px "HelveticaNeueW01-55Roma", Helvetica, Arial, sans-serif;
      color: #000000;
      text-align: left;
      max-width: 515px;
      margin: 0 0 0 53px; }
      @media only screen and (max-width: 1200px) {
        #marquee section p {
          position: absolute;
          left: 240px;
          bottom: 100px;
          width: 460px; } }
      @media only screen and (max-width: 768px) {
        #marquee section p {
          display: none; } }
    #marquee section .btn {
      display: inline-block;
      background-color: #4a8245;
      font: normal normal 300 14px/34px "HelveticaNeueW01-75Bold", Helvetica, Arial, sans-serif;
      color: #ffffff;
      border-radius: 16px;
      width: auto;
      vertical-align: middle;
      text-align: center;
      text-decoration: none;
      margin: 15px 0 0 50px;
      padding: 0 30px; }
      #marquee section .btn:hover {
        color: #ffffff;
        text-decoration: none; }
      @media only screen and (max-width: 1200px) {
        #marquee section .btn {
          position: absolute;
          left: 240px;
          bottom: 45px;
          z-index: 9999; } }
      @media only screen and (max-width: 768px) {
        #marquee section .btn {
          left: inherit;
          right: 20px;
          z-index: 10; } }
      @media only screen and (max-width: 400px) {
        #marquee section .btn {
          padding: 0 10px;
          margin: 0; } }
    #marquee section .image {
      position: absolute;
      top: 80px;
      right: -15px;
      max-width: 539px; }
      @media only screen and (max-width: 1200px) {
        #marquee section .image {
          top: inherit;
          bottom: -104px;
          left: 50px;
          width: 450px; } }
      @media only screen and (max-width: 768px) {
        #marquee section .image {
          max-width: 450px;
          width: 95%;
          right: 0;
          left: 0;
          margin: 0 auto; } }
      #marquee section .image img {
        width: 100%; }

#tool section {
  width: 1200px;
  margin: 10px auto;
  text-align: center; }
  @media only screen and (max-width: 1200px) {
    #tool section {
      width: 768px; } }
  @media only screen and (max-width: 768px) {
    #tool section {
      max-width: 400px;
      width: 100%; } }
  #tool section.question-two-container {
    display: none; }
  #tool section.results-panel {
    display: none; }
    @media only screen and (max-width: 1200px) {
      #tool section.results-panel .description {
        width: calc(50% - 20px); }
        #tool section.results-panel .description .description-inner .contents h4 {
          font-size: 24px; }
        #tool section.results-panel .description .description-inner .contents p {
          font-size: 14px; } }
    @media only screen and (max-width: 768px) {
      #tool section.results-panel .description {
        max-width: 380px;
        width: 100%; }
        #tool section.results-panel .description .description-inner .contents h4 {
          font-size: 20px; }
        #tool section.results-panel .description .description-inner .contents p {
          font-size: 12px; } }
    @media only screen and (max-width: 420px) {
      #tool section.results-panel .description {
        max-width: calc(100% - 20px); } }
    #tool section.results-panel .form-error-container {
      background-color: #f00;
      color: #fff;
      display: none;
      font-weight: 900;
      margin: 8px 15px;
      padding: 10px 0;
      height: 45px; }
      @media only screen and (max-width: 1200px) {
        #tool section.results-panel .form-error-container {
          margin: 8px;
          padding: 10px 10px 10px 0; } }
      @media only screen and (max-width: 768px) {
        #tool section.results-panel .form-error-container {
          padding: 10px 10px 35px 0; } }
  #tool section .one-col {
    width: calc(33% - 20px); }
    @media only screen and (max-width: 1200px) {
      #tool section .one-col {
        width: calc(50% - 20px); } }
    @media only screen and (max-width: 768px) {
      #tool section .one-col {
        width: calc(100% - 20px); } }
  #tool section .two-col {
    width: calc(66% - 20px); }
    @media only screen and (max-width: 1200px) {
      #tool section .two-col {
        width: calc(100% - 20px); } }
    @media only screen and (max-width: 768px) {
      #tool section .two-col {
        width: calc(100% - 20px); } }
  #tool section .three-col {
    width: calc(100% - 30px); }
    @media only screen and (max-width: 1200px) {
      #tool section .three-col {
        width: calc(100% - 20px); } }
  #tool section .error {
    display: none;
    font: normal normal 300 16px/20px "HelveticaNeueW01-75Bold", Helvetica, Arial, sans-serif;
    margin: 10px 20px; }
    @media only screen and (max-width: 768px) {
      #tool section .error {
        font-size: 14px;
        line-height: 17px; } }
    #tool section .error span {
      display: block; }
      @media only screen and (max-width: 768px) {
        #tool section .error span {
          margin: 10px 0 0 0; } }
  #tool section .description {
    display: table;
    background-color: #4d4d4f; }
    #tool section .description .description-inner {
      display: table-cell;
      height: 380px;
      vertical-align: middle; }
      #tool section .description .description-inner .contents {
        margin: 0 30px;
        text-align: left; }
        #tool section .description .description-inner .contents p {
          font: normal normal 300 20px/27px "HelveticaNeueW01-55Roma", Helvetica, Arial, sans-serif;
          color: #fff;
          margin: 0; }
        #tool section .description .description-inner .contents.q1 h4 {
          font: normal normal 300 24px/0.91667em "HelveticaNeueW01-55Roma", Helvetica, Arial, sans-serif;
          color: #fff;
          margin: 0 0 8px; }
        #tool section .description .description-inner .contents.q1 h3 {
          font: normal normal 300 44px/48px "HelveticaNeueW01-75Bold", Helvetica, Arial, sans-serif;
          color: #fff;
          width: 450px;
          margin: 0;
          padding: 0; }
        #tool section .description .description-inner .contents.q1 p {
          margin-top: 20px; }
        #tool section .description .description-inner .contents.q2 h4 {
          font: normal normal 300 29px/30px "HelveticaNeueW01-75Bold", Helvetica, Arial, sans-serif;
          color: #fff;
          margin: 0 0 20px; }
          @media only screen and (max-width: 1200px) {
            #tool section .description .description-inner .contents.q2 h4 {
              font-size: 24px; } }
        @media only screen and (max-width: 1200px) {
          #tool section .description .description-inner .contents.q2 p {
            font-size: 14px; } }
  #tool section .teal {
    background-color: #00a1b0; }
  #tool section .orange {
    background-color: #ff9016; }
  #tool section .green {
    background-color: #9fd9b4; }
  #tool section .yellow {
    background-color: #f4be49; }
  #tool section .tile {
    height: 380px;
    display: inline-block;
    margin: 8px;
    padding: 0;
    position: relative; }
    @media only screen and (max-width: 768px) {
      #tool section .tile {
        max-width: 380px;
        margin: 5px 10px; } }
    @media only screen and (max-width: 420px) {
      #tool section .tile {
        max-width: calc(100% - 20px);
        height: 300px; } }
  @media only screen and (max-width: 768px) {
    #tool section .description-one {
      height: auto; }
      #tool section .description-one .description-inner {
        height: auto;
        width: 100%; }
        #tool section .description-one .description-inner .contents {
          margin: 30px 20px 20px; }
          #tool section .description-one .description-inner .contents.q1 h4 {
            font-size: 18px;
            line-height: 22px; }
          #tool section .description-one .description-inner .contents.q1 h3 {
            width: auto;
            font-size: 28px;
            line-height: 33px; }
          #tool section .description-one .description-inner .contents.q1 p {
            font-size: 16px;
            line-height: 22px; } }
  @media only screen and (max-width: 420px) {
    #tool section .description-results {
      height: auto;
      width: calc(100% - 20px);
      padding: 25px 0 20px; } }
  #tool section .description-results .description-inner {
    height: 380px; }
    @media only screen and (max-width: 420px) {
      #tool section .description-results .description-inner {
        height: auto; } }
  #tool section .description-final {
    display: none;
    background-color: #4d4d4f;
    height: 180px;
    margin: 8px auto; }
    #tool section .description-final .description-inner {
      height: 180px;
      vertical-align: middle;
      display: table-cell; }
      #tool section .description-final .description-inner .contents {
        margin: 0 auto; }
        #tool section .description-final .description-inner .contents .left {
          float: left;
          width: calc(33% - 20px);
          vertical-align: middle;
          margin: 24px 10px 0 30px; }
          @media only screen and (max-width: 1200px) {
            #tool section .description-final .description-inner .contents .left {
              width: calc(40% - 40px); } }
          @media only screen and (max-width: 768px) {
            #tool section .description-final .description-inner .contents .left {
              float: none;
              width: calc(100% - 40px);
              margin: 25px auto; } }
          #tool section .description-final .description-inner .contents .left h4 {
            font: normal normal 300 38px/40px "HelveticaNeueW01-75Bold", Helvetica, Arial, sans-serif;
            color: #fff;
            text-align: left; }
            @media only screen and (max-width: 1200px) {
              #tool section .description-final .description-inner .contents .left h4 {
                font-size: 28px;
                line-height: 34px; } }
            @media only screen and (max-width: 768px) {
              #tool section .description-final .description-inner .contents .left h4 {
                font-size: 28px;
                line-height: 33px;
                margin-bottom: 8px; } }
          #tool section .description-final .description-inner .contents .left p {
            font: normal normal 100 20px/0.91667em "HelveticaNeueW01-45Ligh", Helvetica, Arial, sans-serif;
            color: #fff;
            text-align: left; }
            @media only screen and (max-width: 1200px) {
              #tool section .description-final .description-inner .contents .left p {
                font-size: 15px;
                line-height: 22px; } }
            @media only screen and (max-width: 768px) {
              #tool section .description-final .description-inner .contents .left p {
                font-size: 18px;
                line-height: 22px;
                margin-top: 0; } }
        #tool section .description-final .description-inner .contents .right {
          float: left;
          width: calc(66% - 18px);
          vertical-align: middle; }
          @media only screen and (max-width: 1200px) {
            #tool section .description-final .description-inner .contents .right {
              width: calc(60% - 20px); } }
          @media only screen and (max-width: 768px) {
            #tool section .description-final .description-inner .contents .right {
              float: none;
              width: calc(100% - 40px);
              margin: 0 auto 28px; } }
          #tool section .description-final .description-inner .contents .right p {
            font: normal normal 300 20px/28px "HelveticaNeueW01-55Roma", Helvetica, Arial, sans-serif;
            color: #fff;
            text-align: left; }
            @media only screen and (max-width: 1200px) {
              #tool section .description-final .description-inner .contents .right p {
                font-size: 18px;
                line-height: 26px; } }
            @media only screen and (max-width: 768px) {
              #tool section .description-final .description-inner .contents .right p {
                font-size: 16px;
                line-height: 22px; } }
            #tool section .description-final .description-inner .contents .right p span {
              font: normal normal 300 20px/0.91667em "HelveticaNeueW01-75Bold", Helvetica, Arial, sans-serif; }
              @media only screen and (max-width: 768px) {
                #tool section .description-final .description-inner .contents .right p span {
                  font-size: 16px;
                  line-height: 22px; } }
              #tool section .description-final .description-inner .contents .right p span a {
                color: #9fd9b4;
                cursor: pointer; }
                #tool section .description-final .description-inner .contents .right p span a:hover {
                  text-decoration: none; }
  #tool section .button {
    display: block;
    background-color: #4a8245;
    height: 38px;
    width: 160px;
    margin: 0 auto;
    font: normal normal 300 18px/38px "HelveticaNeueW01-75Bold", Helvetica, Arial, sans-serif;
    color: #fff;
    vertical-align: middle;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    opacity: 0.3;
    cursor: arrow !important; }
    #tool section .button.validated {
      opacity: 1; }
  #tool section .flip-parent {
    cursor: pointer;
    perspective: 1000px;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -o-perspective: 1000px;
    -ms-perspective: 1000px;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d; }
    #tool section .flip-parent .back {
      transform: rotateY(0deg);
      -webkit-transform: rotateY(0deg);
      -moz-transform: rotateY(0deg);
      -o-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg); }
    #tool section .flip-parent.hover .flip {
      transform: rotateY(180deg);
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg); }
    #tool section .flip-parent .flip {
      position: relative;
      width: 376px;
      height: 380px;
      transition: 0.6s;
      -webkit-transition: 0.6s;
      -moz-transition: 0.6s;
      -o-transition: 0.6s;
      -ms-transition: 0.6s;
      transform-style: preserve-3d;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -o-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      backface-visibility: visible;
      -webkit-backface-visibility: visible;
      -moz-backface-visibility: visible;
      -o-backface-visibility: visible;
      -ms-backface-visibility: visible; }
      @media only screen and (max-width: 1200px) {
        #tool section .flip-parent .flip {
          width: 364px; } }
      @media only screen and (max-width: 768px) {
        #tool section .flip-parent .flip {
          width: 380px; } }
      @media only screen and (max-width: 420px) {
        #tool section .flip-parent .flip {
          height: 300px;
          width: 100%; } }
      #tool section .flip-parent .flip .front,
      #tool section .flip-parent .flip .back {
        width: 376px;
        height: 380px;
        max-height: 380px;
        position: absolute;
        top: 0;
        left: 0;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        -ms-backface-visibility: visible;
        transition: 0.6s;
        -webkit-transition: 0.6s;
        -moz-transition: 0.6s;
        -o-transition: 0.6s;
        -ms-transition: 0.6s;
        transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d; }
        @media only screen and (max-width: 420px) {
          #tool section .flip-parent .flip .front,
          #tool section .flip-parent .flip .back {
            height: 300px;
            width: 100%; } }
      #tool section .flip-parent .flip .front {
        transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg); }
      #tool section .flip-parent .flip .back {
        transform: rotateY(-180deg);
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -o-transform: rotateY(-180deg);
        -ms-transform: rotateY(-180deg); }
  #tool section .question-one .teal.front {
    background-image: url(../img/spritesheets/main.png);
    background-position: -380px 0px;
    width: 380px;
    height: 380px;
    background-color: #00a1b0;
    width: 100%; }
    @media only screen and (max-width: 420px) {
      #tool section .question-one .teal.front {
        background: #00a1b0 url(../img/tile-one-mob@2x.png) no-repeat bottom right;
        background-size: 100%;
        height: 300px; } }
  #tool section .question-one .orange.front {
    background-image: url(../img/spritesheets/main.png);
    background-position: -380px -380px;
    width: 380px;
    height: 380px;
    background-color: #ff9016;
    width: 100%; }
    @media only screen and (max-width: 420px) {
      #tool section .question-one .orange.front {
        background: #ff9016 url(../img/tile-two-mob@2x.png) no-repeat bottom right;
        background-size: 100%;
        height: 300px; } }
  #tool section .question-one .green.front {
    background-image: url(../img/spritesheets/main.png);
    background-position: 0px -380px;
    width: 380px;
    height: 380px;
    background-color: #9fd9b4;
    width: 100%; }
    @media only screen and (max-width: 420px) {
      #tool section .question-one .green.front {
        background: #9fd9b4 url(../img/tile-three-mob@2x.png) no-repeat bottom right;
        background-size: 100%;
        height: 300px; } }
  #tool section .question-one .yellow.front {
    background-image: url(../img/spritesheets/main.png);
    background-position: 0px 0px;
    width: 380px;
    height: 380px;
    background-color: #f4be49;
    width: 100%; }
    @media only screen and (max-width: 420px) {
      #tool section .question-one .yellow.front {
        background: #f4be49 url(../img/tile-four-mob@2x.png) no-repeat bottom right;
        background-size: 100%;
        height: 300px; } }
  #tool section .question-one .front .bar {
    background-color: #000;
    width: 100%;
    height: 45px; }
  #tool section .question-one .front p {
    width: 300px;
    margin: 0 0 0 35px;
    padding: 0;
    text-align: left;
    font: normal normal 300 28px/31px "HelveticaNeueW01-55Roma", Helvetica, Arial, sans-serif; }
    @media only screen and (max-width: 420px) {
      #tool section .question-one .front p {
        width: auto;
        font-size: 22px; } }
    #tool section .question-one .front p:first-child {
      margin-top: 40px; }
    #tool section .question-one .front p b {
      font: normal normal 300 34px/37px "HelveticaNeueW01-75Bold", Helvetica, Arial, sans-serif; }
      @media only screen and (max-width: 420px) {
        #tool section .question-one .front p b {
          font-size: 27px;
          line-height: 27px;
          width: 80%; } }
  #tool section .question-one .back .bar {
    background-color: #000;
    width: 100%;
    height: 45px; }
    @media only screen and (max-width: 420px) {
      #tool section .question-one .back .bar {
        height: 35px; } }
  #tool section .question-one .back p.title {
    font: normal normal 300 26px/45px "HelveticaNeueW01-75Bold", Helvetica, Arial, sans-serif;
    vertical-align: middle;
    color: #fff;
    margin: 0 0 0 12px;
    padding: 0;
    text-align: left; }
    @media only screen and (max-width: 420px) {
      #tool section .question-one .back p.title {
        font-size: 21px;
        line-height: 35px; } }
  #tool section .question-one .back p.disclaimer {
    color: black;
    display: none;
    font: normal normal 100 18px/22px "HelveticaNeueW01-45Ligh", Helvetica, Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0 20px;
    width: auto; }
    @media only screen and (max-width: 420px) {
      #tool section .question-one .back p.disclaimer {
        font-size: 16px; } }
    #tool section .question-one .back p.disclaimer a {
      color: #fff;
      text-decoration: none; }
      #tool section .question-one .back p.disclaimer a span {
        text-decoration: underline; }
      #tool section .question-one .back p.disclaimer a:hover {
        color: #fff;
        text-decoration: none; }
        #tool section .question-one .back p.disclaimer a:hover span {
          text-decoration: underline; }
    #tool section .question-one .back p.disclaimer.two {
      margin: 90px 0 0 0; }
    #tool section .question-one .back p.disclaimer.three {
      margin: 30px 0 0 0; }
  #tool section .question-one .back ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    #tool section .question-one .back ul li {
      font: normal normal 100 22px/40px "HelveticaNeueW01-45Ligh", Helvetica, Arial, sans-serif;
      vertical-align: middle;
      text-align: left;
      padding-left: 34px; }
      @media only screen and (max-width: 420px) {
        #tool section .question-one .back ul li {
          font-size: 17px;
          line-height: 32px; } }
      #tool section .question-one .back ul li:hover {
        background-color: rgba(0, 0, 0, 0.2); }
      #tool section .question-one .back ul li.active {
        background-color: rgba(0, 0, 0, 0.2);
        font: normal normal 300 22px/40px "HelveticaNeueW01-75Bold", Helvetica, Arial, sans-serif;
        color: #fff; }
        @media only screen and (max-width: 420px) {
          #tool section .question-one .back ul li.active {
            font-size: 17px;
            line-height: 32px; } }
      #tool section .question-one .back ul li input {
        display: none;
        background-color: #ccecef;
        font: normal normal 100 20px/0.91667em "HelveticaNeueW01-45Ligh", Helvetica, Arial, sans-serif;
        color: black;
        border: 0;
        outline: none;
        height: 34px;
        width: 214px;
        margin: 3px 30px 0 0;
        padding: 0 10px;
        float: right; }
        @media only screen and (max-width: 420px) {
          #tool section .question-one .back ul li input {
            font-size: 17px;
            width: 150px;
            height: 26px; } }
  #tool section .question-two .bar {
    background-color: #000;
    width: 100%;
    height: 45px; }
    @media only screen and (max-width: 420px) {
      #tool section .question-two .bar {
        height: 35px; } }
    #tool section .question-two .bar .title {
      float: left;
      width: calc(100% - 56px);
      font: normal normal 300 26px/45px "HelveticaNeueW01-75Bold", Helvetica, Arial, sans-serif;
      vertical-align: middle;
      color: #fff;
      margin: 0 0 0 12px;
      padding: 0;
      text-align: left; }
      @media only screen and (max-width: 420px) {
        #tool section .question-two .bar .title {
          font-size: 20px;
          line-height: 35px; } }
    #tool section .question-two .bar .icon-info,
    #tool section .question-two .bar .icon-close {
      float: left;
      margin: 6px 0 0 0;
      width: 34px;
      height: 34px; }
      #tool section .question-two .bar .icon-info img,
      #tool section .question-two .bar .icon-close img {
        width: 100%; }
        @media only screen and (max-width: 420px) {
          #tool section .question-two .bar .icon-info img,
          #tool section .question-two .bar .icon-close img {
            height: 72%;
            width: 72%; } }
  #tool section .question-two ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    #tool section .question-two ul li {
      font: normal normal 100 22px/40px "HelveticaNeueW01-45Ligh", Helvetica, Arial, sans-serif;
      vertical-align: middle;
      text-align: left;
      padding-left: 34px; }
      @media only screen and (max-width: 420px) {
        #tool section .question-two ul li {
          font-size: 17px;
          line-height: 32px; } }
      #tool section .question-two ul li:hover {
        background-color: rgba(0, 0, 0, 0.2); }
      #tool section .question-two ul li.active {
        background-color: rgba(0, 0, 0, 0.2);
        font: normal normal 300 22px/40px "HelveticaNeueW01-75Bold", Helvetica, Arial, sans-serif;
        color: #fff; }
        @media only screen and (max-width: 420px) {
          #tool section .question-two ul li.active {
            font-size: 17px;
            line-height: 32px; } }
      #tool section .question-two ul li input {
        background-color: #ccecef;
        font: normal normal 100 20px/0.91667em "HelveticaNeueW01-45Ligh", Helvetica, Arial, sans-serif;
        color: black;
        border: 0;
        outline: none;
        height: 34px;
        width: 214px;
        margin: 3px 30px 0 0;
        padding: 0 10px;
        float: right; }
  #tool section .question-two p {
    margin: 0;
    padding: 20px 27px;
    text-align: left;
    color: #000;
    font: normal normal 100 26px/35px "HelveticaNeueW01-45Ligh", Helvetica, Arial, sans-serif; }
    @media only screen and (max-width: 420px) {
      #tool section .question-two p {
        font-size: 19px;
        line-height: 23px; } }
    #tool section .question-two p strong {
      font: normal normal 300 26px/35px "HelveticaNeueW01-75Bold", Helvetica, Arial, sans-serif; }
      @media only screen and (max-width: 420px) {
        #tool section .question-two p strong {
          font-size: 19px;
          line-height: 23px; } }
    #tool section .question-two p.disclaimer {
      display: none;
      font: normal normal 100 18px/22px "HelveticaNeueW01-45Ligh", Helvetica, Arial, sans-serif;
      text-align: center;
      width: auto;
      padding: 0 20px; }
      @media only screen and (max-width: 768px) {
        #tool section .question-two p.disclaimer {
          font-size: 17px; } }
      @media only screen and (max-width: 420px) {
        #tool section .question-two p.disclaimer {
          font-size: 16px;
          line-height: 20px; } }
      #tool section .question-two p.disclaimer a {
        color: #fff;
        text-decoration: none; }
        #tool section .question-two p.disclaimer a span {
          text-decoration: underline; }
        #tool section .question-two p.disclaimer a:hover {
          color: #fff;
          text-decoration: none; }
          #tool section .question-two p.disclaimer a:hover span {
            text-decoration: underline; }
      #tool section .question-two p.disclaimer.five {
        margin: 70px 0 0 0; }
        @media only screen and (max-width: 420px) {
          #tool section .question-two p.disclaimer.five {
            margin: 25px 0 0 0; } }
  #tool section .key {
    background-color: white;
    border: 2px solid #4e4e50;
    height: 376px;
    width: calc(33% - 24px); }
    @media only screen and (max-width: 1200px) {
      #tool section .key {
        width: calc(100% - 24px);
        height: 180px; } }
    @media only screen and (max-width: 768px) {
      #tool section .key {
        height: 376px;
        width: calc(100% - 24px); } }
    @media only screen and (max-width: 420px) {
      #tool section .key {
        height: 300px; } }
    #tool section .key .inner {
      display: table;
      width: calc(100% - 80px);
      margin: 30px 0 0 35px; }
      @media only screen and (max-width: 1200px) {
        #tool section .key .inner {
          margin: 20px 0 0 35px; } }
      @media only screen and (max-width: 420px) {
        #tool section .key .inner {
          width: 100%;
          margin: 30px 0 0 20px; } }
      #tool section .key .inner h3 {
        margin: 0;
        font: normal normal 300 52px/50px "HelveticaNeueW01-75Bold", Helvetica, Arial, sans-serif;
        color: #4e4e50;
        text-align: left; }
        #tool section .key .inner h3.stage-2 {
          display: none; }
        @media only screen and (max-width: 1200px) {
          #tool section .key .inner h3 {
            float: left; }
            #tool section .key .inner h3 span {
              display: block; } }
        @media only screen and (max-width: 420px) {
          #tool section .key .inner h3 {
            font-size: 41px;
            line-height: 41px; } }
      #tool section .key .inner p {
        font: normal normal 300 18px/0.91667em "HelveticaNeueW01-75Bold", Helvetica, Arial, sans-serif;
        color: #4e4e50;
        text-align: left; }
        @media only screen and (max-width: 1200px) {
          #tool section .key .inner p {
            float: left;
            clear: both; } }
        @media only screen and (max-width: 420px) {
          #tool section .key .inner p {
            font-size: 14px; } }
      #tool section .key .inner .text {
        position: relative; }
        @media only screen and (max-width: 1200px) {
          #tool section .key .inner .text {
            position: absolute;
            top: 5px;
            right: 50px; } }
        @media only screen and (max-width: 768px) {
          #tool section .key .inner .text {
            position: absolute;
            top: 180px;
            left: 100px;
            margin: 0 auto; } }
        @media only screen and (max-width: 420px) {
          #tool section .key .inner .text {
            top: 145px;
            left: 4%;
            width: 100%; } }
        #tool section .key .inner .text p {
          position: absolute;
          top: -8px;
          left: 0;
          width: auto;
          font: normal normal 300 24px/0.91667em "HelveticaNeueW01-75Bold", Helvetica, Arial, sans-serif;
          color: #4e4e50;
          text-align: left; }
          @media only screen and (max-width: 1200px) {
            #tool section .key .inner .text p {
              left: -60px; } }
          @media only screen and (max-width: 420px) {
            #tool section .key .inner .text p {
              left: 9px;
              top: -3px;
              font-size: 19px; } }
        #tool section .key .inner .text ul {
          float: right;
          width: 260px;
          list-style-type: none;
          margin: 0 -45px 0 0;
          padding: 0; }
          @media only screen and (max-width: 420px) {
            #tool section .key .inner .text ul {
              width: 250px;
              margin: 0 auto; } }
          #tool section .key .inner .text ul li {
            display: inline-block;
            background-color: transparent;
            float: left;
            width: 50%;
            margin: 16px 0;
            padding: 0;
            font: normal normal 100 18px/0.91667em "HelveticaNeueW01-45Ligh", Helvetica, Arial, sans-serif;
            color: #4e4e50;
            text-align: center; }
            @media only screen and (max-width: 420px) {
              #tool section .key .inner .text ul li {
                width: 50%;
                font-size: 16px; } }
            #tool section .key .inner .text ul li.grey span {
              background-color: #d1d3d4; }
            #tool section .key .inner .text ul li.red span {
              background-color: #d64123; }
            #tool section .key .inner .text ul li.yellow span {
              background-color: #f4be49; }
            #tool section .key .inner .text ul li.green span {
              background-color: #00814f; }
            #tool section .key .inner .text ul li span {
              display: block;
              height: 32px;
              width: 32px;
              margin: 0 auto 8px;
              border-radius: 50%; }
              @media only screen and (max-width: 420px) {
                #tool section .key .inner .text ul li span {
                  height: 26px;
                  width: 26px; } }
  #tool section .results {
    position: relative; }
    #tool section .results .inner {
      display: table;
      height: 380px;
      width: 100%; }
      @media only screen and (max-width: 420px) {
        #tool section .results .inner {
          height: 285px; } }
      #tool section .results .inner .single-result {
        position: absolute;
        background-color: #d1d3d4;
        height: 180px;
        width: calc(50% - 10px);
        margin: 0;
        cursor: pointer; }
        @media only screen and (max-width: 420px) {
          #tool section .results .inner .single-result {
            height: 140px; } }
        #tool section .results .inner .single-result.top-left {
          top: 0;
          left: 0; }
        #tool section .results .inner .single-result.top-right {
          top: 0;
          right: 0; }
        #tool section .results .inner .single-result.bottom-left {
          bottom: 0;
          left: 0; }
        #tool section .results .inner .single-result.bottom-right {
          bottom: 0;
          right: 0; }
        #tool section .results .inner .single-result[data-color=G] {
          background-color: #00814f; }
        #tool section .results .inner .single-result[data-color=Y] {
          background-color: #f4be49; }
        #tool section .results .inner .single-result[data-color=R] {
          background-color: #d64123; }
        #tool section .results .inner .single-result[data-color=G] .single-result-inner p, #tool section .results .inner .single-result[data-color=Y] .single-result-inner p, #tool section .results .inner .single-result[data-color=R] .single-result-inner p {
          color: #fff; }
        #tool section .results .inner .single-result .single-result-inner {
          position: relative;
          height: 180px;
          width: 100%;
          display: table; }
          @media only screen and (max-width: 420px) {
            #tool section .results .inner .single-result .single-result-inner {
              height: 140px; } }
          #tool section .results .inner .single-result .single-result-inner p {
            display: table-cell;
            vertical-align: middle;
            font: normal normal 300 24px/26px "HelveticaNeueW01-75Bold", Helvetica, Arial, sans-serif;
            color: #4e4e50; }
            @media only screen and (max-width: 420px) {
              #tool section .results .inner .single-result .single-result-inner p {
                font-size: 19px;
                line-height: 20px; } }
            #tool section .results .inner .single-result .single-result-inner p span {
              display: block;
              font: normal normal 300 24px/26px "HelveticaNeueW01-55Roma", Helvetica, Arial, sans-serif;
              margin: 10px 0 0 0; }
              @media only screen and (max-width: 420px) {
                #tool section .results .inner .single-result .single-result-inner p span {
                  font-size: 19px;
                  line-height: 20px; } }
            #tool section .results .inner .single-result .single-result-inner p.more {
              position: absolute;
              right: 6px;
              bottom: -15px;
              font-size: 12px; }
              @media only screen and (max-width: 420px) {
                #tool section .results .inner .single-result .single-result-inner p.more {
                  font-size: 10px;
                  right: 5px;
                  bottom: -12px; } }
    #tool section .results .info {
      position: absolute;
      height: 0;
      width: 0;
      overflow: hidden; }
      #tool section .results .info .bar {
        background-color: #000;
        width: 100%;
        height: auto; }
        #tool section .results .info .bar p {
          font: normal normal 300 26px/28px "HelveticaNeueW01-75Bold", Helvetica, Arial, sans-serif;
          color: #fff;
          margin: 0 0 0 12px;
          padding: 10px 0;
          text-align: left; }
          @media only screen and (max-width: 420px) {
            #tool section .results .info .bar p {
              font-size: 18px;
              line-height: 20px; } }
          #tool section .results .info .bar p span {
            display: block;
            font: normal normal 100 26px/28px "HelveticaNeueW01-45Ligh", Helvetica, Arial, sans-serif; }
            @media only screen and (max-width: 420px) {
              #tool section .results .info .bar p span {
                font-size: 18px;
                line-height: 20px; } }
        #tool section .results .info .bar .close {
          display: block;
          position: absolute;
          background-color: black;
          top: 5px;
          right: 8px;
          height: 26px;
          width: 26px;
          font: normal normal 300 22px/22px "HelveticaNeueW01-75Bold", Helvetica, Arial, sans-serif;
          vertical-align: middle;
          color: #fff;
          border-radius: 50%;
          border: 3px solid white;
          text-align: center;
          cursor: pointer; }
      #tool section .results .info .content {
        font: normal normal 100 28px/30px "HelveticaNeueW01-45Ligh", Helvetica, Arial, sans-serif;
        text-align: left;
        margin: 30px 75px 0 35px; }
        @media only screen and (max-width: 420px) {
          #tool section .results .info .content {
            font-size: 22px;
            line-height: 24px;
            margin: 30px 40px 0 35px; } }
  #tool section.stage-1 .results .inner .single-result[data-color=R], #tool section.stage-1 .results .inner .single-result[data-color=G] {
    background-color: #d1d3d4; }
    #tool section.stage-1 .results .inner .single-result[data-color=R] .single-result-inner p, #tool section.stage-1 .results .inner .single-result[data-color=G] .single-result-inner p {
      color: #4e4e50; }
  #tool section.stage-2 .info .content {
    margin: 10px 25px 0 35px; }
    #tool section.stage-2 .info .content ul {
      margin: 0 0 0 12px;
      padding: 10px 0; }
      #tool section.stage-2 .info .content ul li {
        font: normal normal 100 22px/24px "HelveticaNeueW01-45Ligh", Helvetica, Arial, sans-serif;
        margin: 8px 0; }
  @media only screen and (max-width: 420px) {
    #tool section .form {
      padding: 0 0 70px 0; } }
  #tool section .form .inner {
    display: table;
    width: 100%; }
    #tool section .form .inner form {
      width: 300px;
      margin: 25px auto 0; }
      #tool section .form .inner form label {
        display: block;
        text-align: left;
        font: normal normal 300 14px/0.91667em "HelveticaNeueW01-75Bold", Helvetica, Arial, sans-serif;
        color: #000;
        margin: 0 0 7px 20px; }
      #tool section .form .inner form input {
        background-color: #ddf2e5;
        border-radius: 18px;
        height: 33px;
        font: normal normal 300 16px/33px "HelveticaNeueW01-55Roma", Helvetica, Arial, sans-serif;
        color: #4e4e50;
        vertical-align: middle;
        width: 280px;
        margin: 0 0 20px 0;
        padding: 0 10px;
        outline: none;
        border: none; }
        @media only screen and (max-width: 420px) {
          #tool section .form .inner form input {
            width: 250px; } }
      #tool section .form .inner form #continue {
        display: block;
        background-color: #4a8245;
        height: 38px;
        width: 160px;
        margin: 0 auto;
        font: normal normal 300 18px/38px "HelveticaNeueW01-75Bold", Helvetica, Arial, sans-serif;
        color: #fff;
        vertical-align: middle;
        text-align: center;
        border-radius: 20px;
        cursor: pointer; }

/* IE */
#tool section .front,
#tool section .flip-parent.hover .flip .back {
  /* IE Hack. Halfway through the card flip, set visibility. Keep other browsers visible throughout the card flip. */
  animation: stayvisible 0.3s both;
  -webkit-animation: stayvisible 0.3s both;
  -moz-animation: stayvisible 0.3s both;
  -o-animation: stayvisible 0.3s both;
  -ms-animation: donothing 0.3s;
  -ms-transition: visibility 0s linear 0.17s;
  visibility: visible; }

#tool section .back,
#tool section .flip-parent.hover .flip .front {
  /* IE Hack. Halfway through the card flip, set visibility. Keep other browsers visible throughout the card flip. */
  animation: stayvisible 0.3s both;
  -webkit-animation: stayvisible 0.3s both;
  -moz-animation: stayvisible 0.3s both;
  -o-animation: stayvisible 0.3s both;
  -ms-animation: donothing 0.3s;
  -ms-transition: visibility 0s linear 0.17s;
  visibility: hidden; }

@keyframes stayvisible {
  from {
    visibility: visible; }
  to {
    visibility: visible; } }
@-webkit-keyframes stayvisible {
  from {
    visibility: visible; }
  to {
    visibility: visible; } }
@-moz-keyframes stayvisible {
  from {
    visibility: visible; }
  to {
    visibility: visible; } }
@-o-keyframes stayvisible {
  from {
    visibility: visible; }
  to {
    visibility: visible; } }
@-ms-keyframes donothing {}

/*# sourceMappingURL=screen.css.map */
